body{
    background-image: url('https://res.cloudinary.com/promoworks/image/upload/v1536734610/think-plan-execute.gif');
    background-size: auto 150vh;
    font-family: Arial; 
    height: 150vh;
    
  }
  .menu {
    background-color: White; 
  }
  
  .menu ul { 
    display: flex; 
    justify-content: space-around; 
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: orange; 
    text-decoration: none; 
  } 
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    text-align: center; 
    color: Whitesmoke; 
  }
  
  .site-subtitle {
    font-style: italic; 
  }