/* soft reset do css */  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic;
}

body{
    background-image: url('https://static.tumblr.com/ce43b2ff4046dbd6478fcf2486c9338d/visksv2/ETimh6m6s/tumblr_static_dente_de_le__o_preto.png');
    background-size: auto 100vh;
    font-family:'Open Sans Condensed', sans-serif; 
    height: 100vh;
    font-size: 12px; 
  }

/* se a tela tiver pelo menos 400px vai carregar esses estilos*/
@media (min-width: 400px) {
  body {
   font-size: 14px;
  }
}

/* breakpoint */ 
@media (min-width: 800px) {
  body {
     font-size: 18px;
   }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}

  .menu {
    background-color: transparent;  
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul { 
    display: flex; 
    justify-content: space-around; 
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a:active,
  .menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 2s, color 1s; 
  }
  
.menu a:hover {
  background-color: rgb(20, 20, 22);
  color: whitesmoke; 
}

  a {
    color: whitesmoke; 
    text-decoration: none; 
    font-size: 1.2em; 
  } 
  
  a:hover {
    text-decoration: underline;
  }

  .titulo {
    transform: scale(0.2) translateY(50vh);
   opacity: 0;

   animation: linear 2s animacaotitulo forwards;
  }

  @keyframes animacaotitulo {
    0% {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }  
    
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
  }

  .site-subtitle,
  .site-title {
    text-align: center; 
    color: Whitesmoke; 
  }

  .site-title {
    font-size: 4em; 
    font-family: 'Bad Script', cursive;
  }

  .site-subtitle {
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
  }

.contato, 
.portfolio {
  padding: 2em; 
  min-height: 100vh;
}

.contato h2, 
.portfolio h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: whitesmoke;
  margin-bottom: 0.5em;
  font-size: 2.5em;
  padding: 0.7em;
}

.portfolio .grid {
  display: grid;
  gap: 1.5em;  
}

@media (min-width: 560px) {
  .portfolio .grid {  
    grid-template-columns: 300px 300px; 
}

@media (min-width: 1085px) {
  .portfolio .grid {
     grid-template-columns: repeat(2,350px);
     align-content: center;
     justify-content: center;
     height: 50vh; 
  }
}

.portfolio figure {
 text-align: center;
}

  .img-portfolio {
    height: 180px; 
    width: 200px; 
    object-fit: cover;
    border-radius: 50px;
    transition: transform 500ms;
  }

.img-portfolio:hover {
  transform: scale(1.2) ;
}

  .contato .icons {
    text-align: center;
  }

  .contato a {
    color: whitesmoke;
    font-size: 4em; 
    transition: text-shadow 0.7s;
  }
 
  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(194, 194, 138, 1);
  }